.amount {
    min-width: 10%;
    text-align: right;
    margin-left: 10px;
}

.note {
    color: Gray;
    margin-left: 10px;
}

.category {
    margin-left: 10px;
}

.chart {
    max-height: 860px;
}

#expenses {
    margin: 10px;
}

#fileInput {
    position: relative;
    margin: 10px;
}

#fileInput button.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 40px;
    width: 40px;
    height: 40px;
}

#spinner {
    margin: 10px;
}

.col-md {
    padding: 0;
}

.row {
    margin: 0;
}